@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  } */

  .loader {
    width: 45px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(#b92e2e 0 0);
    background: var(--c) 0% 50%, var(--c) 25% 50%, var(--c) 50% 50%,
      var(--c) 75% 50%, var(--c) 100% 50%;
    background-size: 20% 100%;
    animation: l1 1.2s infinite linear;
  }
  @keyframes l1 {
    0% {
      background-size: 10% 20%, 10% 40%, 10% 60%, 10% 80%, 10% 100%;
    }
    12% {
      background-size: 10% 40%, 10% 60%, 10% 80%, 10% 100%, 10% 80%;
    }
    25% {
      background-size: 10% 60%, 10% 80%, 10% 100%, 10% 80%, 10% 60%;
    }
    37% {
      background-size: 10% 80%, 10% 100%, 10% 80%, 10% 60%, 10% 40%;
    }
    50% {
      background-size: 10% 100%, 10% 80%, 10% 60%, 10% 40%, 10% 20%;
    }
    62% {
      background-size: 10% 80%, 10% 60%, 10% 40%, 10% 20%, 10% 40%;
    }
    75% {
      background-size: 10% 60%, 10% 40%, 10% 20%, 10% 40%, 10% 60%;
    }
    87% {
      background-size: 10% 40%, 10% 20%, 10% 40%, 10% 60%, 10% 80%;
    }
    100% {
      background-size: 10% 20%, 10% 40%, 10% 60%, 10% 80%, 10% 100%;
    }
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* For data picker */

.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme("colors.accent.500") !important;
  --rdp-background-color: theme("colors.accent.600") !important;
  margin: 0 !important;
}
